@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply  p-0;
}
body {
	@apply h-screen m-0 bg-swirl;
    /* bg-gradient-to-tl from-pink-300 via-purple-300 to-indigo-400; */
}

.card {
    @apply
    min-h-screen relative
    bg-pink-100 shadow-xl shadow-gray-600
    rounded-xl justify-center items-center;
}

.flip {
}

.flip_side {
    @apply absolute top-0 left-0 min-h-full min-w-full;
    transition: all 0.8s ease;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.flip_side-front {

}

.flip_side-back {
    transform: rotateY(180deg);
}

.flip:hover .flip_side-front {
    transform: rotateY(-180deg);
}

.flip:hover .flip_side-back {
    transform: rotateY(0);
}

.hero {
@apply h-96;
}

.name {
	@apply mx-auto block;
}

.title {
	@apply mx-auto block pt-12 pb-2
}

svg {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}